.header, .sidebar, .content, .footer {
    padding: 10px;
    border: solid 1px #000;
    background: #bfe8df;
}

.header {
    background: #bfe8df;
    margin-bottom: 10px;
    font-size: 24px;
}

.layout {
    margin: 15px 0;
    overflow: hidden;
    min-width: 800px;
}

.sidebar {
    width: 100px;
    float: left;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.content {
    margin-left: 135px;
}

.newsView {
    display: inline-block;

}

.newsView ul, li, form {
    display: inherit;
}

.pagination {
    display: inline-block;
}

.delete {
    float: right;
}

ul.menuButton li {
    margin: 10px;
}

.news-form  span{
    margin: 10px;
}
.news-form > div{
    float: right;
}